//Workspaces
.workSpace{
  border: 1px solid #ccc
}

//Powermenu
.powerMenu {
    font-family: "JetBrains Mono";
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ccc;
}

.button-reb, .button-quit, .button-off {
    padding: .2rem .2rem .3rem;
}

//Hardware Monitor
.hardwareMonitor {
    border: 1px solid #ccc;
}

//Systray
.systray {
    font-size: 10px;
}

//Music
.musicPlayer {
    // font-family: "JetBrains Mono";
    border: 1px solid #ccc;
}

.currentSong {
    font-size: 14px;
    margin-left: 20px;
    color: white;
    border: 1px solid #ccc;
}


.spotifyIcon {
    font-size: 20px;
    color: green;
    background-color: rgba(#fff7f7, 0);
    border: 1px solid white;
    border-radius: 5px;
}

//Date and time scss
.dateTime {
    font-family: "JetBrains Mono";
    font-size: 1.1em;
    color:white;
    padding: 0 1.2rem 0 1.0rem;
    border: 1px solid white;
}

//Panel scss
.eww_panel {
    font-family: "JetBrains Mono";
    background-color: black;
    padding: 1rem;
}
