* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.9);
}

button {
	border-radius: 40px;
	border-color: #D90202;
	border-style: solid;
	border-width: 3px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	color: #33D4C4;
	margin: 8px;
	padding: 10px;
}

button:hover {
	background-color: #FFFFFF;
	color: #33D4C4;
	outline-style: none;
}

#lock {
	background-image: image(url("icons/lock.svg"), url("icons/lock.svg"));
}

#logout {
	background-image: image(url("icons/logout.svg"), url("icons/logout.svg"));
}

#suspend {
	background-image: image(url("icons/suspend.svg"), url("icons/suspend.svg"));
}

#hibernate {
	background-image: image(url("icons/hibernate.svg"), url("icons/hibernate.svg"));
}

#shutdown {
	background-image: image(url("icons/shutdown.svg"), url("icons/shutdown.svg"));
}

#reboot {
	background-image: image(url("icons/reboot.svg"), url("icons/reboot.svg"));
}
