* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.9);
}

button {
    border-radius: 40px;
    border-color: #D90202;
	border-style: solid;
	border-width: 3px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
	color: #FFFFFF;
	margin: 8px;
	padding: 10px;
}

button:hover {
	background-color: #FFFFFF;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/winston/dotfiles/.config/wlogout/icons/lock.svg"), url("/home/winston/dotfiles/.config/wlogout/icons/lock.svg"));
}

#logout {
    background-image: image(url("/home/winston/dotfiles/.config/wlogout/icons/logout.svg"), url("/home/winston/dotfiles/.config/wlogout/icons/logout.svg"));
}

#suspend {
    background-image: image(url("/home/winston/dotfiles/.config/wlogout/icons/suspend.svg"), url("/home/winston/dotfiles/.config/wlogout/icons/suspend.svg"));
}

#hibernate {
    background-image: image(url("/home/winston/dotfiles/.config/wlogout/icons/hibernate.svg"), url("/home/winston/dotfiles/.config/wlogout/icons/hibernate.svg"));
}

#shutdown {
    background-image: image(url("/home/winston/dotfiles/.config/wlogout/icons/shutdown.svg"), url("/home/winston/dotfiles/.config/wlogout/icons/shutdown.svg"));
}

#reboot {
    background-image: image(url("/home/winston/dotfiles/.config/wlogout/icons/reboot.svg"), url("/home/winston/dotfiles/.config/wlogout/icons/reboot.svg"));
}
